# HW. 문제 S-5: 파일에서 Spark SQL로 데이터 읽기

In [2]:
# %load /home/jsl/Downloads/spark-1.6.0-bin-hadoop2.6/examples/src/main/resources/people.json
{"name":"Michael"}
{"name":"Andy", "age":30}
{"name":"Justin", "age":19}

{'age': 19, 'name': 'Justin'}

In [3]:
pDF= sqlCtx.read.json("/home/jsl/Downloads/spark-1.6.0-bin-hadoop2.6/examples/src/main/resources/people.json")

NameError: name 'sqlCtx' is not defined

In [ ]:
type(pDF)

In [5]:
pDF.filter(pDF['age'] > 21).show()
pDF.registerTempTable("people")
sqlCtx.sql("select name from people").show()

NameError: name 'pDF' is not defined

In [6]:
twitterDF= sqlCtx.read.json("src/ds_twitter_1_noquote.json")
twitterDF.printSchema()

NameError: name 'sqlCtx' is not defined

In [7]:
twitterDF.select('text').show()

NameError: name 'twitterDF' is not defined

In [ ]:
twitterDF.registerTempTable("twitter")
sqlCtx.sql("select text from twitter").show()